<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodawanie wspólnoty</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Dodawanie wspólnoty</h2>

<form action="#" th:action="@{/communities/add}" th:object="${community}" method="post">
    Nazwa: <br/><input type="text" th:field="*{name}" /> <br/><br/>
    Adres: <br/><input type="text" th:field="*{adress}" /> <br/><br/>
    <input type="submit" value="Dodaj" />
</form>
<br/>
<a href="/">Strona główna</a>
</body>
</html>