<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <title>Dodawanie wspólnoty</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        body {
            margin: 25px 25px;
            background-color: beige;
        }
    </style>
</head>
<body>
<h2>Dodawanie wspólnoty</h2>

<form action="#" th:action="@{/communities/add}" th:object="${community}" method="post">
    Nazwa: <br/><input type="text" th:field="*{name}" /> <br/><br/>
    Adres: <br/><input type="text" th:field="*{adress}" /> <br/><br/>
    <input type="submit" value="Dodaj" />
</form>
<br/>
<a href="/">Strona główna</a>
</body>
</html>