<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <style>
        body {
            margin: 25px 25px;
            background-color: beige;
        }
    </style>
    <title>Dodawanie mieszkania</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Dodawanie mieszkania</h2>

<form action="#" th:action="@{/flats/add}" th:object="${flat}" method="post">
    Numer: <br/><input type="number" th:field="*{number}" /> <br/><br/>
    Powierzchnia: <br/><input type="text" th:field="*{area}" />m2 <br/><br/>
    Id wspólnoty: <br/><input type="text" th:field="*{community}" /> <br/><br/>
    <input type="submit" value="Dodaj" />
</form>
<br/>
<a href="/">Strona główna</a>
</body>
</html>