<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <style>
        body {
            margin: 25px 25px;
            background-color: beige;
        }
    </style>
    <meta charset="UTF-8"/>
    <title>Lista mieszkańców</title>
</head>
<body>
<h2>Lista mieszkańców wspólnoty</h2><br/>
<table border="2px">
    <tr>
        <th>Id mieszkańca</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Płeć</th>
    </tr>
    <tr th:each="dweller : ${dwellers}">
        <td th:text="${dweller.id}"></td>
        <td th:text="${dweller.firstName}"></td>
        <td th:text="${dweller.lastName}"></td>
        <td th:text="${dweller.gender}"></td>
        </tr>
</table>
<br/>
<a href="/">Strona główna</a>

</body>
</html>